.DS_Store
.dart_tool/
.packages
.pub/
build/
**/.idea/
**/.vscode/

plant_care_backend/.venv/
plant_care_backend/*.db
plant_care_backend/__pycache__/
plant_care_backend/**/__pycache__/
plant_care_backend/.env

plant_care_app/.flutter-plugins
plant_care_app/.flutter-plugins-dependencies
plant_care_app/.metadata
plant_care_app/.env
